.card {
  @mixin card-container($col) {
    width: 280px;
    min-width: 280px;
    height: 360px;
    min-height: 360px;
    border-radius: 14px;
    background: white;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-left: 5px solid $col;
    border-right: 1px solid $col;
    border-top: 1px solid $col;
    border-bottom: 1px solid $col;
  }
  &__container_other {
    @include card-container(#e997a0);
  }

  &__container_my {
    @include card-container(#85bba9);
  }

  &__container_member {
    @include card-container(#729bd8);
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 15px;
  }

  &__body {
    width: 250px;
    height: 38%;
    padding: 0 15px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #333539;
      }
    }

    &__requirements {
      display: flex;
      flex-direction: row;
    }

    &__teacher {
      display: flex;
      align-items: center;

      &__icon {
        border: 1px solid;
        border-radius: 100px;
        margin-right: 5px;
        height: 12px;
        width: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 10px;
          text-align: center;
        }
      }

      &__span {
        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #585268;
        }
      }
    }

    &__content {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #a6acbe;

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
