.messages {
    height: 100%;
    padding-bottom: 0;
    overflow: auto;
    width: 100%;
    padding-right: 10px;
    .ant-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }
    &--loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}