.content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
}

.content_info .middle_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.content_info .middle_container .middle_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_info .middle_container .answers {
  margin-top: 20px;
  border-radius: 10px;
  background: white;
  width: 100%;
}

.content_info .middle_container .answers h1 {
  padding: 5px 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #333951;
}

.content_info .middle_container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content_info .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 115vh;
  width: 30%;
}

.content_info .footer_container .productive {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  padding: 20px;
}

.content_info .footer_container .productive .h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #eef0f6;
  width: 100%;
  padding: 20px 0;
}

.content_info .footer_container .rating {
  margin-top: 10px;
  border-radius: 10px;
  background: white;
}

.content_info .footer_container .rating .top_views {
  height: 240px;
  min-height: 240px;
  overflow-y: scroll;
}

.content_info .footer_container .rating h1 {
  padding: 5px 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #333951;
}

.content_info .footer_container .rating .no_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 240px;
  min-height: 240px;
}

.content_info .footer_container .rating .no_projects img {
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}

.content_info .footer_container .rating .no_projects__button {
  height: 45px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 10px;
  width: 140px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#88ddff), color-stop(51%, #4364f7), to(#88ddff));
  background-image: linear-gradient(to right, #88ddff 0%, #4364f7 51%, #88ddff 100%);
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content_info .footer_container .rating .no_projects__button:hover {
  background-position: right center;
}

@media screen and (width: 1920px) {
  .content_info {
    height: 100vh;
  }
  .content_info .footer_container {
    height: 100vh;
  }
  .content_info .footer_container .rating {
    margin-top: 30px;
  }
  .content_info .footer_container .rating .top_views {
    height: 340px;
  }
}

@media screen and (width: 1280px) {
  .content_info.footer_container {
    height: 100vh;
  }
  .content_info.footer_container .productive {
    height: 100%;
  }
  .content_info.footer_container .rating {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=Main.css.map */