.content_info {

  display: flex;
  flex-direction: row;
  padding: 0 10px;
  @media screen and (width: 1920px) {
    height: 100vh;
  }

  .middle_container {
    display: flex;
    justify-content: space-between;
    width: 70%;

    .middle_group {
      display: flex;
      flex-direction: column;

    }

    .answers {
      margin-top: 20px;
      border-radius: 10px;
      background: white;
      width: 100%;

      h1 {
        padding: 5px 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #333951;
      }
    }

    img {
      display: flex;
      width: 100%;
    }
  }

  .footer_container {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    height: 115vh;
    width: 30%;
    @media screen and (width: 1920px) {
      height: 100vh;
    }
    @media screen and (width: 1280px) {
      height: 100vh;
    }

    .productive {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background: white;
      height: 50%;
      .h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #000000;
        text-align: center;
        border-bottom: 1px solid #eef0f6;
        width: 100%;
        padding: 20px 0;
      }
      @media screen and (width: 1280px) {
        height: 100%;
      }
    }

    .rating {
      margin-top: 10px;
      border-radius: 10px;
      background: white;

      .top_views {
        height: 240px;
        min-height: 240px;
        overflow-y: scroll;
     
        @media screen and (width: 1920px) {
          height: 340px;
        }
      }

      h1 {
        padding: 5px 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #333951;
      }
      @media screen and (width: 1920px) {
        margin-top: 30px;
      }
      @media screen and (width: 1280px) {
        margin-top: 20px;
      }
      .no_projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        height: 240px;
        min-height: 240px;


        img {
          margin-bottom: 15px;
          width: 50px;
          height: 50px;
        }

      }

    }
  }
}