.content_info {

  display: flex;
  flex-direction: row;
  padding: 0 10px;

  .middle_container {
    display: flex;
    justify-content: space-between;
    width: 70%;

    .middle_group {
      display: flex;
      flex-direction: column;

    }

    .answers {
      margin-top: 20px;
      border-radius: 10px;
      background: white;
      width: 100%;

      h1 {
        padding: 5px 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #333951;
      }
    }

    img {
      display: flex;
      width: 100%;
    }
  }

  .footer_container {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    height: 115vh;
    width: 30%;

    .productive {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background: white;
      padding: 20px ;

      .h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #000000;
        text-align: center;
        border-bottom: 1px solid #eef0f6;
        width: 100%;
        padding: 20px 0;
      }


    }

    .rating {
      margin-top: 10px;
      border-radius: 10px;
      background: white;

      .top_views {
        height: 240px;
        min-height: 240px;
        overflow-y: scroll;

      }

      h1 {
        padding: 5px 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #333951;
      }

      .no_projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        height: 240px;
        min-height: 240px;


        img {
          margin-bottom: 15px;
          width: 50px;
          height: 50px;
        }

        @mixin input-button($delt) {
          height: 45px;
          width: 100% + $delt;
          border-radius: 8px;
          border: none;
        }

        @mixin text-style($w, $s, $l, $c) {
          font-family: 'Inter';
          font-style: normal;
          font-weight: $w;
          font-size: $s;
          line-height: $l;
          color: $c;
        }

        &__button {
          @include input-button(0%);
          @include text-style(500, 14px, 22px, #ffffff);
          margin-top: 10px;
          width: 140px;
          height: 25px;
          cursor: pointer;
          text-align: center;
          background-image: linear-gradient(to right, #88ddff 0%, #4364f7 51%, #88ddff 100%);
          background-size: 200% auto;
          transition: 0.5s;
        }

        &__button:hover {
          background-position: right center;
        }
      }
    }
  }
}

@media screen and (width: 1920px) {
  .content_info {
    height: 100vh;

    .footer_container {
      height: 100vh;

      .rating {
        margin-top: 30px;

        .top_views {
          height: 340px;
        }
      }
    }
  }
}



@media screen and (width: 1280px) {
  .content_info.footer_container {
    height: 100vh;

    .productive {
      height: 100%;
    }

    .rating {
      margin-top: 20px;
    }
  }
}