.messangers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78vw;
  min-width: 720px;
  padding: 0 20px;
  margin-top: 20px;
  overflow-y: hidden;
  position: fixed;
  

  .chat {
    
    background: white;
    width: 100%;
    min-width: 720px;
    height: 83vh;
    border-radius: 18px;
    padding: 5px;
    display: flex;

    &__sidebar {
      width: 320px;
      min-width: 320px;
      height: 100%;
      border-right: 2px solid #ecf5fd;

      &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 2px solid #ecf5fd;

        span {
          opacity: 0.7;
          transition: opacity 0.15s ease-in-out;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          &:active {
            opacity: 0.8;
          }
        }

        &-info {
          span {
            display: inline-block;
            margin-right: 10px;
            opacity: 0.7;
          }
        }
      }

      &__dialogs {
        .dialogs {
          height: 75vh;
        }
      }
      &__users{
        height: 75vh;
      }
    }

    &__dialog {
      flex: 1;
      min-width: 360px;

      &-haeder {
        display: flex;
        padding: 10px;
        border-bottom: 2px solid #ecf5fd;
        justify-content: space-between;
        align-items: center;

        &-center {
          text-align: center;

          &-username {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }

      &-messages {
        margin: 0 5px 0 0;
        padding: 0 0 0 20px;
        background-color: #f8f8fb;
        height: calc(100% - 18vh);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}