.event {

  width: 82vw;
  min-width: 720px;
  background: #f8f8fb;
  margin: 0 20px;
  border-radius: 12px;
  display: flex;
  min-width: 720px;
  min-height: 88vh;

  &__container {

    height: 60%;
    width: 100%;
    padding: 30px;

    &__image {
      width: auto;
      margin: auto;
      min-width: 540px;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;

      img {
        width: 540px;
        height: 360px;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    &__info {


      min-width: 540px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;

      &__header {

        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 44px;
        }
      }

      &__description {

        min-width: 540px;

        p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #6B6B6B;
        }
      }
    }

  }

}