@mixin text($a, $b, $c, $d) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $a;
  font-size: $b;
  line-height: $c;
  color: $d;
}

@mixin input-button($delt) {
  height: 45px;
  width: 100% + $delt;
  border-radius: 8px;
  border: none;
}

%input-block-global {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 60%;
  margin-left: auto;
  margin-right: 0;
  // padding: 2% 7% 2% 7%;

  .input {
    width: 100%;
    height: 80%;
    margin-right: 2%;
    border-radius: 8px;
    border: solid 1px rgba(90, 156, 255, 0.2);
    @include text(400, 16px, 19px, #798d96);
    background-color: white;
  }

  input:focus {
    outline: none !important;
  }
}

%input-block-global-hover {
  .input {
    @include text(400, 16px, 19px, #5a9cff);
  }
}

%icon-add {
  color: #c7cbd5;
  width: 2vw;
  height: 2vw;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}
%icon-add-hover {
  color: #5a9cff;
}

.project {
  display: flex;
  flex-direction: row;
  $project-back-ground-color: #f8f8fb;

  %block {
    background-color: $project-back-ground-color;
    border-radius: 18px;
    padding: 10px;
  }

  %project-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    @include text(700, 24px, 26px, #333539);
  }

  .main {
    width: 60vw;
    margin-right: 2vw;

    .main-top-section {
      display: flex;
      flex-direction: row;
      @extend %block;

      .avatar {
        width: 170px;
        height: 170px;
        border-radius: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-left: 20px;

        .name {
          @include text(700, 24px, 26px, #333539);
        }

        .description {
          @include text(400, 15px, 18px, #6b6b6b);
          padding-top: 16px;
        }
      }

      .icon-update {
        margin-left: auto;
        margin-right: 10px;
        @extend %icon-add;
      }
      .icon-update:hover {
        @extend %icon-add-hover;
      }
    }
    .main-bottom-section {
      display: flex;
      flex-direction: column;

      .requirements-section {
        display: flex;
        flex-direction: column;
        @extend %block;
        margin-top: 16px;

        .requirements-title {
          @extend %project-title;

          .input-block-project {
            @extend %input-block-global;
          }

          .input-block-project:hover {
            @extend %input-block-global-hover;
          }

          .icon-add-block {
            @extend %icon-add;
          }
          .icon-add-block:hover {
            @extend %icon-add-hover;
          }
        }

        .requirements-list {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .commits-list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        @extend %block;

        .commits-title {
          @extend %project-title;
          .input-block-project {
            @extend %input-block-global;
          }

          .input-block-project:hover {
            @extend %input-block-global-hover;
          }

          .icon-add-block {
            @extend %icon-add;
          }
          .icon-add-block:hover {
            @extend %icon-add-hover;
          }
        }
      }
    }
  }
  .profile-all-requirements {
    display: flex;
    flex-direction: column;
    background-color: $project-back-ground-color;
    border-radius: 18px;
    padding: 10px;
    width: 20vw;

    .profile-all-requirements-title {
      display: flex;
      flex-direction: column;
      @include text(700, 24px, 26px, #333539);
    }

    .profile-all-requirements-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
