@mixin text($a, $b, $c, $d) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $a;
  font-size: $b;
  line-height: $c;
  color: $d;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-add-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: auto;
    background-color: white;
    border-radius: 18px;
    padding: 10px;
    .modal-title {
      @include text(700, 24px, 26px, #333539);
      margin-bottom: 10px;
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      margin: 10px;
      @include text(400, 15px, 18px, #6b6b6b);

      .my-projects-list {
        height: 100px;
        overflow-y: auto;
      }

      input {
        resize: none;
      }
      input:focus {
        outline: none !important;
      }
      .update-profile-input {
        display: flex;
        height: 30px;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 8px;
        border: solid 1px rgba(90, 156, 255, 0.2);
        @include text(400, 16px, 19px, #798d96);
        background-color: white;
      }

      .update-profile-input:hover {
        @include text(400, 16px, 19px, #5a9cff);
      }
    }
    .modal-footer {
      .button {
        text-align: center;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
        @include text(500, 18px, 22px, #ffffff);
        margin-bottom: 5%;
        border: none;
        border-radius: 8px;
        padding: 2px;

        background-image: linear-gradient(to right, #88ddff 0%, #4364f7 51%, #88ddff 100%);
        background-size: 200% auto;
        transition: 0.5s;
      }

      button:hover {
        background-position: right center;
      }
    }
  }
}
