@mixin text($a, $b, $c, $d) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $a;
  font-size: $b;
  line-height: $c;
  color: $d;
}

.create-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  border-radius: 18px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f8f8fb;

  $width: 400px;

  .create-project-title {
    @include text(700, 24px, 26px, #333539);
    margin-bottom: 20px;
  }

  .textarea-create-project {
    width: $width - 20px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    border: solid 1px rgba(90, 156, 255, 0.2);
    @include text(400, 16px, 19px, #798d96);
    background-color: white;
    margin-bottom: 20px;
  }

  textarea {
    resize: none;
  }
  textarea:focus {
    outline: none !important;
  }

  .textarea-create-project:hover {
    @include text(400, 16px, 19px, #5a9cff);
  }

  button {
    height: 45px;
    width: $width;
    border-radius: 8px;
    border: none;
    @include text(700, 18px, 22px, #ffffff);

    background-image: linear-gradient(to right, #88ddff 0%, #4364f7 51%, #88ddff 100%);
    background-size: 200% auto;
    transition: 0.5s;
  }

  button:hover {
    background-position: right center;
  }
}
