@mixin text($a, $b, $c) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $a;
  font-size: $b;
  line-height: $c;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
}

$width: 215px;
$logo-text: 19px;
$sidebar-text: 15px;
$logo-img: 6vh;
$icon: 40px;

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 8vh;

  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #4364f7 0%, #88ddff 51%, #4364f7 100%);
    background-size: 200% auto;
    border-radius: 18px;
    width: $width;
    height: 7vh;
    margin: 5px;
    cursor: pointer;

    .logo-img {
      height: $logo-img;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }
    p {
      display: flex;
      align-items: center;
      color: white;
      margin-left: 8px;
      @include text(900, $logo-text, 18px);
    }
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;

    .short-info {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-right: 1vw;
      .name {
        @include text(500, 16px, 17px);
      }
      .group {
        @include text(400, 12px, 15px);
        color: #a6acbe;
      }
    }

    .avatar {
      height: 6vh;
      border-radius: 100%;
      margin-right: 1vw;
    }

    .notice-exit {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 6vh;
      border-left: 1px solid #c7cbd5;

      .notice {
        color: #c7cbd5;
        height: 3vh;
        width: 3vh;
        margin-left: 1vw;
      }

      .notice:hover {
        color: #5a9cff;
      }

      .exit {
        color: #c7cbd5;
        height: 3vh;
        width: 3vh;
        margin-left: 1vw;
        margin-right: 1vw;
      }
      .exit:hover {
        color: #5a9cff;
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
}

%general-sidebar {
  margin: 5px;
  background: #2c405a;
  color: white;
  max-width: $width;
  border-radius: 18px;
}

.sidebar-button {
  @extend %general-sidebar;
  border-radius: 18px;
  width: 9vw;
  height: 6vh;
}
.sidebar-button:hover {
  opacity: 0.9;
  background: linear-gradient(237.26deg, #88ddff 8.37%, #4364f7 95.2%);
}

.sidebar {
  @extend %general-sidebar;
  width: 100%;

  .link {
    display: flex;
    align-items: center;
    padding: 20px 20px;

    .link_text {
      display: block;
      @include text(400, $sidebar-text, 18px);
      color: #ffffff;
      width: 50%;
      margin-left: 1vw;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border: 1px solid white;
      border-radius: 12px;
      width: $icon;
      height: $icon;
    }
  }

  .link:hover {
    opacity: 0.9;
    background: #3a4f6e;
    border-radius: 18px;

    .icon {
      background: linear-gradient(237.26deg, #88ddff 8.37%, #4364f7 95.2%);
    }
  }
}
