*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 105vh;
    
}

a{
    text-decoration: none;
}

.sidebar{
    background: #2C405A;
    color: white;
    min-width: 250px;
    transition: width .5s ease-in-out;
}


.opened {
    width: 90px;
    min-width: 90px;
    transition: width .5s ease-in-out;
}

.top_section{

    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #88ddff 0%, #4364f7 51%, #88ddff 100%);
    background-size: 200% auto;
    transition: 0.5s;

    img{
        height: 52px;
        width: 72px;
        margin: 10%;
    }

    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 18px;

    }


}

.top_section:hover{
    background-position: right center;
}

.logo{
    font-size: 18px;
    line-height: 0;
}

.routes{
    margin-top: 20px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    width: 40px;
    height: 40px;
}

.link{
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.link:hover{
    opacity: .9;
    background: #3a4f6e;
    
    .icon{
        background: linear-gradient(237.26deg, #88DDFF 8.37%, #4364F7 95.2%);
        border-radius: 12px;
    }
}


.link_text{
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;   
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 70%;
    
}

.children{
    width: 100%;

}

.children_opened{
    width: 100%;
    min-width: 300px;

}


