.notifications-list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  .notification-block {
    display: flex;
    align-items: center;
    background: white;
    margin-top: 10px;
    height: 50px;
    border-radius: 12px;

    &__name {
      width: 20%;
      min-width: 110px;
      margin: 0 10px;
      background: #5a9cff;
      height: 25px;
      min-height: 25px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;



      span {

        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;

      }

    }

    .notification-user {
      width: 15%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 20px;
    }

    &__button {
      width: 10%;
      min-width: 70px;
    }

    &__message {
      width: 55%;
      margin: 0 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  @mixin user($color) {
    color: $color;
    height: 24px;
    width: 24px;
    margin-left: 1vw;

  }

  .del-user {
    @include user(#fd6374);
  }

  .del-user:hover {
    color: #5a9cff;
  }

  .add-user {
    @include user(#33d69f);
  }

  .add-user:hover {
    color: #5a9cff;
  }
}