.answers_item {
    border-bottom: 2px solid #EFF4F6;
    margin: 5px 30px 0 30px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .answer_icon {
        border-radius: 14px;
        width: 70px;
        height: 50px;
        border: 2px solid #5A9CFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .answer_teacher {

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: white;
        width: 200px;
        text-align: center;
        background: #5A9CFF;
        border-radius: 8px;
    }

    .answer_date {

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        width: 15%;
        margin-left: 10px;
    }

    // .answer_time {
    //     font-family: 'DM Sans';
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 20px;
    //     color: #000000;
    //     mix-blend-mode: normal;
    //     opacity: 0.4;
    // }

    // .answer_comment {

    //     font-family: 'DM Sans';
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 20px;
    //     color: #000000;
    //     mix-blend-mode: normal;
    //     opacity: 0.4;
    //     width: 30%;

    // }
}