.answers_item {
    border-bottom: 2px solid #EFF4F6;
    margin: 5px 30px 0 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .answer_icon {

        width: 70px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;

        img {
            border-radius: 10px;
            object-fit: cover;
            width: 72px;
            height: 45px;
        }
    }

    .answer_teacher {

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: white;
        width: 200px;
        text-align: center;
        background: #5A9CFF;
        border-radius: 8px;
        height: 25px;

    }

    .answer_date {

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 20px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        width: 15%;
        height: 40px;
        margin-left: 10px;
        border: 3px solid #5A9CFF;
        border-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;

    }
}

@media screen and (width: 1920px) {
    .answers_item {
        margin: 5px 70px 0 70px;
        padding: 30px 0;
        height: 50px;

        .answer_teacher {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            color: white;
            width: 200px;
            text-align: center;
            background: #5A9CFF;
            border-radius: 8px;
            height: 40px;
        }

        .answer_date {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 20px;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.5;
            width: 15%;
            height: 40px;
            margin-left: 10px;
            border: 3px solid #5A9CFF;
            border-radius: 10px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

}