@mixin text($a, $b, $c, $d) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $a;
  font-size: $b;
  line-height: $c;
  color: $d;
}

.requirement-block {
  display: flex;
  align-items: center;
  background-color: rgba(90, 156, 255, 0.2);
  border-radius: 8px;
  margin: 3px auto 3px 0px;
  @include text(400, 16px, 20px, #585268);
  color: #5a9cff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;

  .requirement-icon-user {
    border: solid 1px;
    border-radius: 100%;
    margin-right: 7px;
  }

  .requirement-icon-date {
    margin-right: 7px;
  }

  .icon-delete {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(253, 99, 116, 0.1);
    color: #fd6374;
    border-radius: 100%;
    cursor: pointer;
  }
}
