.requirement-block {
  background-color: rgba(90, 156, 255, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5a9cff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 3px;
}
