@mixin text($a, $b, $c, $d) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: $a;
  font-size: $b;
  line-height: $c;
  color: $d;
}

@mixin icon-delete-add($color, $background-color) {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $background-color;
  color: $color;
  cursor: pointer;
}

@mixin requirement-block($block-color, $block-background-color) {
  display: flex;
  align-items: center;
  background-color: $block-background-color;
  color: $block-color;
  border-radius: 8px;
  margin: 3px auto 3px 3px;
  @include text(400, 16px, 20px, $block-color);
  width: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;

  .requirement-icon-user {
    border: solid 1px;
    border-radius: 100%;
    margin-right: 7px;
  }

  .requirement-icon-date {
    margin-right: 7px;
  }

  .icon-delete {
    @include icon-delete-add(#fd6374, rgba(253, 99, 116, 0.1));
  }

  .icon-add {
    @include icon-delete-add(#fd6374, rgba(253, 99, 116, 0.1));
  }
}

.requirement-block-not-select {
  @include requirement-block(#5a9cff, rgba(90, 156, 255, 0.2));
}

.requirement-block-select {
  @include requirement-block(#6bd3a3, rgba(107, 211, 163, 0.2));
}