@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "../node_modules/normalize.css/normalize.css";

body {
  margin: 0;
  font-family: 'Inter';
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  background: #F8F8FB;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;

}

*{
  font-family: 'Inter';
}

