.messages {
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    overflow: auto;


    .ant-empty {
        display: flex;
        align-items: center;
        height: 100%;
    }


    &--loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}